@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');

@font-face{

font-family: 'Proxima Nova';

src: url('../fonts/Proxima Nova Regular.otf') format('otf');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'Proxima Nova';

src: url('../fonts/Proxima Nova Light.otf') format('otf');

font-weight: normal;

font-style: light;

}

@font-face{

font-family: 'Proxima Nova';

src: url('../fonts/Proxima Nova Bold.otf') format('otf');

font-weight: normal;

font-style: bold;

}




* {
	font-family: "Proxima Nova";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-size: 16px;
	min-width: 320px;
}

.none {
	display: none;
}

a {
	text-decoration: none;
	color: #000;
}

.btn	{
	border: 2px solid #000;
	padding: 8px 24px;
	font-size: 15,52px;
}




/*Для ширины 320px*/



/*Верхняя менюшка*/
.fast-contacts__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background-color: #e9e9f1;
	padding-left: 20px;
	height: 30px;
}

.fast-contacts__link--phone:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/phone-call.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 2px;
	right: 9px;
}


/*Бургер*/

.header__burger {
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.burger__icon {
	display: inline-block;
	width: 30px;
	height: 20px;
 	background-image: url(../img/burger-icon.png);
	background-repeat: no-repeat;
	background-position-x: center;
 }


.burger_menu {
	display: none;
	background-color: #e9e9f1;
	border-top: 1px #000 solid;
}

.burger_menu__none {
	display: block;
}

.burger_menu__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding-top: 80px;
	padding-bottom: 100px;
}

.burger_menu__item {
	padding-bottom: 18px;
	font-size: 18px;
}

.burger-social {
	display: inline-block;
	vertical-align: top;
}


/*секция скалодром*/




.page-header {
	display: none;
}

.promo__container {
	display: flex;
	flex-direction: column;
	background-image: url(../img/promo_bcg.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	min-height: 400px;
}


.promo__title {
	display: flex;
	justify-content: center;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 0;
	padding-top: 80px;
	padding-bottom: 65px;
}

.promo__title:after {
	content: '';
	display: flex;
	margin-left: 69px;
	width: 94px;
	height: 2px;
	background-color: #000;
	position: absolute;
}

.promo__text {
	height: 20%;
	width: 205px;
	padding: 20px;
	margin-bottom: 30px;
}

.promo__button {
	padding: 20px;
}





/*Секция Трассы*/



.traces__container {
	background-image: url(../img/traces-bcg.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 400px;
	height: 100vh;
}

.traces__title {
	display: flex;
	justify-content: center;
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 0;
	padding-bottom: 50px;
}

.traces__title:after {
	content: '';
	display: flex;
	margin-left: 28px;
	width: 94px;
	height: 2px;
	background-color: #fff;
	position: absolute;
}

.traces__slider {
	margin: 0 auto;
	height: 75vh;
	width: 80%;
}

.track {
	text-align: center;
	background-color: rgba(77, 89, 100, 0.6);
}

.track__title {
	font-size: 30px;
	color: #c7c7d3;
	padding: 15px 0;
}

.track__list {
	list-style-type: none;
}

.track__list-item {
	color: #f9f9f9;
	margin-bottom: 10px;
}

.track__content {
	color: #e7e7f2;
}

.track__img {
	margin: 0 auto;
}

.track__text {
	padding: 20px 0;
}






/*Секция скидки*/





.stock__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.stock__title {
	font-size: 36px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.stock__title:after {
	content: '';
	display: flex;
	margin-left: 16px;
	width: 94px;
	height: 2px;
	background-color: #000;
	position: absolute;
}

.stock__discount {
	display: flex;
	position: relative;
	margin: 20px;
}

.discount__picture {
	margin: auto;
}

.discount__text {
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-size: 24px;
	color: #fff;
	margin: auto;
}




/*Секция У нас*/





.advantages__bacground {
	background-image: url(../img/Y_nas-bcg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	min-height: 500px;
}

.advantages__title {
	display: flex;
	justify-content: center;
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 0;
	padding-top: 48px;
	padding-bottom: 50px;
}

.advantages__title:after {
	content: '';
	display: flex;
	margin-left: 16px;
	width: 94px;
	height: 2px;
	background-color: #fff;
	position: absolute;
}

.advantages__content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.advantages__picture {
	width: 57px;
	height: 57px;
	align-self: center;
	margin-left: 10px;
}

.advantages__text {
	color: #fffffe;
	padding: 10px;
	align-self: center;
}






/*Секция Галерея*/




.picture-slider {
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}

.picture__img {
	height: 400px;
	width: 100%;
}


/*Секция Цены*/


.table__title {
	display: flex;
	justify-content: center;
	font-size: 36px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 0;
	padding-top: 48px;
	padding-bottom: 50px;
}

.table__title:after {
	content: '';
	display: flex;
	margin-left: 5px;
	width: 94px;
	height: 2px;
	background-color: #000;
	position: absolute;
}


.table__title {
	display: none;
}

.prices__mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile__line {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 20px;
}

.mobile__line--list {
	display: flex;
	cursor: pointer;
	border-top: 1px #000 solid;
	width: 100%;
	justify-content: space-between;
}

.list__text {
	align-self: center;
	width: 90%;
	padding: 20px;
}

.list__icon {
	background-image: url(../img/prev-mobile.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 25px;
	width: 15px;
	margin-top: 16px;
	margin-right: 20px;
}


.mobile__line--bcg {
	background-color: #f1f1f1;
	width: 100%;
	border-top: 1px #000 solid;
}


.mobile__text {
	width: 80%;
}

.mobile__line--small {
	width: 80%;
	font-size: 10px;
	text-transform: uppercase;
}

.mobile__text--price {
	width: 20%;
}

.prices__btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.prices__buy {
	background-color: #932626;
	border: none;
	text-transform: uppercase;
	color: #fff;
	padding: 18px 38px;
	margin: 17px;
}

.prices__safety {
	border-bottom: 1px #000 solid;
	margin-bottom: 20px;
}


.list_age {
	display: none;
	color: #dadae7;
	background-color: #22313f;
	justify-content: center;
	width: 100%;
}

.list_checklist {
	text-align: center;
	width: 100%;
	list-style: none;
}

.list_checklist__item {
	text-transform: uppercase;
	padding: 15px 10px;
}

.small-text {
	font-size: 14px;
}

.list_place {
	display: none;
	color: #dadae7;
	background-color: #22313f;
	justify-content: center;
	width: 100%;
}

.list_duration {
	display: none;
	color: #dadae7;
	background-color: #22313f;
	justify-content: center;
	width: 100%;
}

.list__display--flex {
	display: flex;
}
 


/*Секция Отзывы*/





.reviews {
	background-image: url(../img/rev-bcg.jpg);
	background-position: top;
	background-size: 100%;
	min-height: 555px;
}

.reviews__wrapper {
	background-color: rgba(234, 234, 235, 0.7);
	width: 80%;
	margin: 0 auto;
	padding: 45px 0;
}

.reviews__title {
	display: flex;
	justify-content: center;
	font-size: 36px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;
}

.reviews__title:after {
	content: '';
	display: flex;
	margin-left: 35px;
	width: 94px;
	height: 2px;
	background-color: #000;
	position: absolute;
}

.reviews__body {
	text-align: center;
}

.reviews__body__avatar {
	margin: 0 auto;
}

.social__icon--insta {
	display: inline-block;
	background-image: url(../img/instagram.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
}

.social__icon--vk {
	display: inline-block;
	background-image: url(../img/vk-bcg.png);
	background-repeat: no-repeat;
	width: 28px;
	height: 19px;
}

.reviews__body__content {
	width: 70%;
	text-align: left;
	padding-left: 20px;
}

.reviews__body div {
	margin: 10px 0;
}








/*Футер*/


footer {
	display: flex;
	flex-direction: column;
	background-color: #22313f;
	color: #dadae7;
	font-size: 14px;
}


.footer__content {
	order: 2;
}

.footer__btn {
	order: 3;
}

.footer__content__nav, .footer__content__contacts, .footer__content__social {
	margin: 0 10px;
}

.footer__content__social {
	display: block;
	margin: 12px 10px;
}

.contackts__list {
	list-style: none;
}

.contackts__list li {
	padding-bottom: 10px;
}

.contackts__placeholder:before {
	content: '';
	background-image: url(../img/placeholder.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 11px;
	height: 19px;
	padding-right: 5px;
}

.contackts__phone:before {
	content: '';
	background-image: url(../img/footer_phone.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	padding-right: 5px;
}


.content__nav__item {
	list-style: none;
	text-transform: uppercase;
	padding: 5px 0;
}

.footer-link {
	color: #dadae7;
	font-size: 14px;
}

.footer__btn {
	position: relative;
}

.btn__rise-up {
	position: absolute;
	content: '';
	display: inline-block;
	width: 34px;
	height: 34px;
	background-image: url(../img/rise_up.png);
	background-repeat: no-repeat;
	right: 10px;
	bottom: 10px;
}